@mixin display_flex($action) {
  @if $action=='column' {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @else {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#vue_input_code{
	width:100%;
	// padding:0 10px;
	.input{
		width:100%;
		// margin-top:36px;
		position: relative;
		@include display_flex('row');
		>div{
			// width:16.6666%;
			// height:40px;
			// line-height:40px;
			border:1px solid #323232;
			font-weight:900;
			background-color: white;
			&:nth-child(n){
				border-right: none;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right:1px solid #323232;
			}
			input{
				font-size:20px;
				width:90%;
				color:rgb(50,50,50);
				text-align: center;
				outline:none;
				border:none;
				margin-right:5px;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			}
		}
		.input-code{
			position:absolute;
			top:0;
			left:0;
			// width:(90%/6);
			margin-left:1%;
			// border-right: 1px solid rgb(51, 51, 51) !important;
			border:none;
			background:none;
			@include display_flex("row");
		}
		>span{
			// width:(100%/6);
			// height:40px;
			// line-height:40px;
			border:1px solid #323232;
			font-weight:900;
			background-color: white;
			display: inline-block;
			text-align: center;
			font-size:20px;
			&:nth-child(n){
				border-right: none;
			}
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right:1px solid #323232;
			}
		}
		>span.first{
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		.input-code.first{
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		.input-code.last{
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}